h1 {
    font-weight: bolder;
    color: blue;
    text-align: center;
    padding: 20vh 20vh 5vh 20vh;
}

button {
    background-color: blue;
    color: white;
    border-radius: 5px;
    width: 10em;
    height: 3em;
}