.header-container {
  background-color: #373737;
  font-size: large;
  font-weight: 700;
  display: flex;
  justify-content: space-evenly;
  height: 2em;
}

a {
  list-style-type: none;
  text-decoration: none;
  color: white;
}
