.title {
    color: lightgreen;
    font-size: x-large;
    font-weight: 900;
    padding: 5em;
}

div {
    color: lightgreen;
    font-size: x-large;
    font-weight: 900;
    padding: 0 0 0 5em;
}

hr {
    color: white;
}

span {
    color: orange;
}