<div class="container">
  <div class="banner">
    <h1>Photography</h1>
    <img [ngSrc]="bannerImg" alt="" width="1125" height="750" priority />
  </div>
  <div class="sections">
    <div class="section">
      <h3>Birds</h3>
      <img [ngSrc]="birdsImg" alt="" width="1050" height="750" />
    </div>
  </div>
  <div class="section">
    <h3>Animals</h3>
    <img [ngSrc]="animalsImg" alt="" width="972" height="750" />
  </div>
  <div class="section">
    <h3>Flowers</h3>
    <img [ngSrc]="flowersImg" alt="" width="1125" height="750" />
  </div>
  <div class="section">
    <h3>Vegetables</h3>
    <img [ngSrc]="vegtablesImg" alt="" width="600" height="401" />
  </div>
  <div class="section">
    <h3>Fruits</h3>
    <img [ngSrc]="fruitsImg" alt="" width="600" height="400" />
  </div>
</div>
