.container {
    display: flex;
    width: auto;
    height: 90vh;
    justify-content: center;
    align-items: center;
}

.btn {
    border: 1px solid black;
    border-radius: 5px;
    width: 10em;
    height: 3em;
    margin: 2em;
    color: white;
}

.btn-user {
    background-color: #EA1E63;
}

.btn-product {
    background-color: #2196F2;
}

.btn-contact {
    background-color: #20AC27;
}