.two {
    width: 100vw;
    height: 50vh;
    background-color: lightpink;
    vertical-align: bottom;
}

button {
    background-color: white;
    width: 10em;
    margin: 2em;
}

.result {
    font-size:xx-large;
    text-align: center;
    color: black;
}