.outer {
  width: 100vw;
  height: 10vh;
  background-color: lightblue;
}

.running-status {
  height: 2.5em;
  width: 8em;
  background-color: red;
  border-radius: 5px;
  color: white;
  font-weight: 600;
}

.login-status {
  height: 2.5em;
  width: 8em;
  background-color: red;
  border-radius: 5px;
  color: white;
  font-weight: 600;
}
